<template>
    <v-dialog v-model="$_isVisible" width="620px">
        <v-card>
            <v-form ref="addTaskForm" @submit.prevent>
                <v-card-title primary-title>
                    <h2>Add task</h2>
                </v-card-title>
                <edit-task :task="task"></edit-task>
                <v-divider></v-divider>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn flat @click="closeDialog">Close</v-btn>
                    <v-btn color="primary" @click="addTask">Add task</v-btn>
                </v-card-actions>
            </v-form>
        </v-card>
    </v-dialog>
</template>

<script>
    import EditTask from "./EditTask";
    import {Dialog} from "../../mixins/DialogMixin";
    import TaskModel from "../../models/taskModel";

    export default {
        mixins: [Dialog],
        name: "AddTaskDialog",
        components: {EditTask},
        data() {
            return {
                task: new TaskModel(0, '')
            }
        },
        methods: {
            resetTask() {
                this.$refs.addTaskForm.resetValidation();
                this.task = new TaskModel(0, '');
            },
            closeDialog() {
                this.$eventCaller.addTask(false);
            },
            addTask() {
                if(!this.$refs.addTaskForm.validate()){
                    return;
                }
                this.$eventCaller.addTask(this.task);
            },
            onCloseDialog(alreadyClosed) {
                this.resetTask();
                if(!alreadyClosed){
                    this.closeDialog();
                }
            },
            onOpenDialog(){
                this.resetTask();
            }
        }
    }
</script>

<style scoped>

</style>