<template>
    <delete-dialog
            v-if="task"
            @confirmDelete="deleteTask"
            @dontDelete="dontDelete"
            :visible="visible">
        <h2 slot="title">Delete task</h2>

        <p slot="areYouSureText">Are you sure to delete task <highlight>{{ task.taskName }}</highlight> ?</p>

        <template slot="deleteButton">Delete task</template>
        <template slot="dontDeleteButton">Don't delete task</template>
    </delete-dialog>
</template>

<script>
    import DeleteDialog from "../DeleteDialog";
    import {Dialog} from "../../mixins/DialogMixin";
    import Highlight from "../Highlight";

    export default {
        mixins: [Dialog],
        components: {Highlight, DeleteDialog},
        name: "DeleteTaskDialog",
        props: {
            task: {
                required: true
            }
        },
        methods: {
            deleteTask() {
                this.$eventCaller.deleteTask(true);
            },
            dontDelete() {
                this.$eventCaller.deleteTask(false);
            }
        }
    }
</script>

<style scoped>

</style>