<template>
    <v-card-text v-if="task">
        <v-text-field label="Task name" v-model="task.taskName" :rules="required"></v-text-field>
    </v-card-text>
</template>

<script>
    export default {
        name: "EditTask",
        props: {
            task: {
                required: true
            }
        }
    }
</script>

<style scoped>

</style>