<template>
    <v-container v-if="tasks.length">
        <v-list class="taskList">
            <task
                    v-for="(task, index) in tasks" :key="task.id"
                    :class="index % 2 ? 'odd' : 'even'"
                    :task="task"
                    @deleteTask="deleteTask"
                    @changeTaskState="changeTaskState"
            >
                <template slot="prefix">
                    {{ index+1 }}.
                </template>
            </task>
        </v-list>
    </v-container>
    <v-container v-else>
        <p>No Tasks available</p>
    </v-container>
</template>

<script>
    import Task from "./Task";

    export default {
        name: "Tasks",
        components: {Task},
        props: {
            tasks: {
                type: Array,
                required: true
            }
        },
        methods: {
            changeTaskState({task, state}){
                this.$eventCaller.changeTaskState({task, state});
            },
            deleteTask(task) {
                this.$eventCaller.deleteTask(task);
            }
        }
    }
</script>

<style scoped>
    .odd{
        background-color: rgba(200, 200, 200, 0.1)
    }

    .even{
        background-color: rgba(200, 200, 200, 0.3)
    }

    .taskList{
        background-color: rgba(0, 0, 0, 0) !important;
        padding-top: 0;
        padding-bottom: 0;
    }
</style>