<template>
    <div v-if="task" class="task" :class="{completed: task.completed}">
        <div :class="{completedText: task.completed}">
            <slot name="prefix"></slot>{{ task.taskName }}
        </div>
        <v-icon v-if="taskDeletePossible" class="right delete" @click="deleteTask">delete</v-icon>
        <div class="state right" :style="color" :class="{hoverable: taskEditPossible}" @click="changeState"></div>
    </div>
</template>

<script>
    import {mapGetters} from "vuex";

    export default {
        name: "Task",
        props: {
            task: {
                type: Object,
                required: true
            }
        },
        computed: {
            color() {
                return {
                    backgroundColor: this.task.completed ? "rgb(55,156,34)" : "rgb(200,57,44)"
                }
            },
            ...mapGetters([
                'taskEditPossible',
                'taskDeletePossible'
            ])
        },
        methods: {
            changeState() {
                if (this.taskEditPossible) {
                    this.$eventCaller.changeTaskState({task: this.task, state: !this.task.completed});
                }
            },
            deleteTask() {
                if (this.taskDeletePossible) {
                    this.$eventCaller.deleteTask(this.task);
                }
            }
        }
    }
</script>

<style scoped>
    .task > * {
        display: inline-block;
    }

    .task {
        padding: 6px 10px 6px 20px;
    }

    .task .completedText {
        text-decoration: line-through;
    }

    .task{
        position: relative;
    }

    .task.completed:before {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        content: ' ';
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.1);
    }

    .state {
        margin-right: 20px;
        width: 25px;
        height: 20px;
        border-radius: 3px;
        box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
        transition: background-color 0.5s;
    }

    .state.hoverable:hover {
        cursor: pointer;
    }

    .state.hoverable:active {
        box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.5);
    }

    .delete {
        margin-right: 10px;
    }

</style>