<template>
    <delete-dialog
            v-if="project"
            @confirmDelete="deleteProject"
            @dontDelete="dontDeleteProject"
            :visible="visible">
        <h2 slot="title">Delete Project</h2>

        <p slot="areYouSureText">Are your sure you want to delete project <highlight>{{ project.projectName }}</highlight> ?</p>

        <template slot="deleteButton">Delete project</template>
        <template slot="dontDeleteButton">Don't delete project</template>
    </delete-dialog>
</template>

<script>
    import DeleteDialog from "../DeleteDialog";
    import Highlight from "../Highlight";

    export default {
        name: "DeleteProjectDialog",
        components: {Highlight, DeleteDialog},
        props: {
            visible: {
                type: Boolean,
                required: true
            },
            project: {
                validator: prop => prop === null || prop === undefined || typeof prop === 'object',
                required: true
            }
        },
        methods: {
            deleteProject() {
                this.$eventCaller.deleteProject(true);
            },
            dontDeleteProject() {
                this.$eventCaller.deleteProject(false);
            }
        }
    }
</script>

<style scoped>

</style>