<template>
    <v-dialog v-model="$_isVisible" width="500px">
        <v-card>
            <v-card-title primary-title>
                <h2>Edit project</h2>
            </v-card-title>
            <v-card-text v-if="editedProject">
                <v-form ref="editProjectForm" @submit.prevent>
                    <v-input>
                        <v-text-field label="Project name" v-model="editedProject.projectName"
                                      :rules="required"></v-text-field>
                    </v-input>
                </v-form>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn flat @click="closeDialog">Close</v-btn>
                <v-btn color="primary" @click="saveProject">Save</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    import {Dialog} from "../../mixins/DialogMixin";
    import ProjectModel from "../../models/projectModel";

    export default {
        mixins: [Dialog],
        name: "EditProjectDialog",
        props: {
            project: {
                required: true
            }
        },
        data() {
            return {
                editedProject: new ProjectModel(0, '')
            }
        },
        watch: {
            $_isVisible(visible) {
                if (visible) {
                    this.editedProject = Object.assign(new ProjectModel(0, ''), this.project);
                }
            }
        },
        methods: {
            resetProject() {
                this.$refs.editProjectForm.resetValidation();
                this.editedProject = new ProjectModel(0, '');
            },
            saveProject() {
                if (!this.$refs.editProjectForm.validate()) {
                    return;
                }
                this.$eventCaller.saveProject(this.editedProject);
                this.resetProject();
            },
            closeDialog() {
                this.$eventCaller.saveProject(false);
                this.resetProject();
            },
            onCloseDialog(alreadyClosed) {
                if(!alreadyClosed){
                    this.closeDialog();
                }
            }
        }
    }
</script>

<style scoped>

</style>