<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <v-flex v-if="project">
        <v-expansion-panel v-model="expandedPanels" expand>
            <v-expansion-panel-content :class="{highlightFade}" class="project">
                <template v-slot:header>
                    <v-label>{{ project.projectName }}</v-label>
                    <div class="icons">
                        <div v-if="sprintAddPossible" class="addSprint" @click.stop="addSprint" title="Add new sprint">
                            <v-icon>add</v-icon>
                        </div>
                        <div v-if="projectEditPossible" class="editProject" @click.stop="editProject"
                             title="Edit project">
                            <v-icon>edit</v-icon>
                        </div>
                        <div v-if="projectDeletePossible" class="deleteProject" @click.stop="deleteProject"
                             title="Delete project">
                            <v-icon>delete</v-icon>
                        </div>

                    </div>
                </template>

                <sprints
                        :sprints="project.sprints"
                        :openedSprint="openedSprint"
                        @deleteSprint="deleteSprint"
                        @addSprint="addSprint"
                        @addTask="addTask"
                        @deleteTask="deleteTask"
                        @editSprint="editSprint"
                        @changeSprintOrder="changeSprintOrder"
                        @changeTaskState="changeTaskState"

                        @prepareChangeSprintProject="prepareChangeSprintProject"
                        @changeSprintProject="changeSprintProject"

                        @hasOpenedSprint="hasOpenedSprint"
                ></sprints>
            </v-expansion-panel-content>

        </v-expansion-panel>
    </v-flex>
</template>

<script>
    import Sprints from "../Sprint/Sprints";
    import {mapGetters} from "vuex";

    export default {
        name: "Project",
        components: {Sprints},
        props: {
            project: {
                required: true
            },
            openedSprint: {
                required: false
            },
            openedProject: {
                required: false
            }
        },
        data: function () {
            return {
                expanded: false,
                highlightFade: false,
            };
        },
        watch: {
            openedProject: {
                handler(newVal) {
                    if (newVal === this.project.id) {
                        this.expanded = true;
                        this.$eventCaller.hasOpenedProject();
                        this.highlightExpansionPanel();
                    }
                }
            }
        },
        methods: {
            highlightExpansionPanel() {
                if (this.highlightFade) {
                    return;
                }
                this.highlightFade = true;
                setTimeout(() => {
                    this.highlightFade = false;
                }, 500);
            },
            hasOpenedSprint(){
                this.$eventCaller.hasOpenedSprint();
            },
            changeSprintProject({sprint, oldIndex}) {
                this.$eventCaller.changeSprintProject({sprint, oldIndex});
            },
            prepareChangeSprintProject(newIndex) {
                this.$eventCaller.prepareChangeSprintProject({toProject: this.project.id, newIndex});
            },

            changeTaskState({sprint, task, state}) {
                this.$eventCaller.changeTaskState({project: this.project, sprint, task, state});
            },
            addSprint() {
                this.$eventCaller.addSprint(this.project);
            },
            addTask(sprint) {
                this.$eventCaller.addTask({project: this.project, sprint});
            },
            deleteProject() {
                this.$eventCaller.deleteProject(this.project);
            },
            deleteTask({sprint, task}) {
                this.$eventCaller.deleteTask({sprint, task, project: this.project});
            },
            editProject() {
                this.$eventCaller.editProject(this.project);
            },
            editSprint(sprint) {
                this.$eventCaller.editSprint({sprint, project: this.project});
            },
            changeSprintOrder({fromIndex, toIndex}) {
                this.$eventCaller.changeSprintOrder({projectId: this.project.id, fromIndex, toIndex});
            },
            deleteSprint(sprint) {
                this.$eventCaller.deleteSprint({project: this.project, sprint});
            }
        },
        computed: {
            expandedPanels: {
                get() {
                    return [this.expanded];
                },
                set(newVal) {
                    this.expanded = newVal === 0;
                }
            },
            ...mapGetters([
                "sprintAddPossible",
                "projectEditPossible",
                "projectDeletePossible",
            ])
        }
    }
</script>

<style scoped>
    .icons {
        flex: none !important;
        margin-right: 10px;
    }

    .icons > * {
        display: inline;
        padding: 0 2px;
    }
</style>