<template>
    <gantt-graph
            label="Projects graph"
            :data="data"
            @clickedSprint="clickedSprint"
            @clickedProject="clickedProject"
            :dateRange="dateRange"
            :options="ganttOptions"
            :shouldUpdateViewport="shouldUpdateViewport"
            @viewportUpdated="viewportUpdated"
            @changeDateRangeByScroll="changeDateRange"
    >
        <project-graph-filter
                v-model="graphOptions"
                slot="header"
                :dateBorders="dataBorders"
        ></project-graph-filter>
    </gantt-graph>
</template>

<script>
    import GanttGraph from "../GanttGraph";
    import {ProjectUtils} from "../../utils/ProjectUtils";
    import {SprintUtils} from "../../utils/SprintUtils";
    import tinycolor from 'tinycolor2'
    import {MiscUtils} from "../../utils/MiscUtils";
    import {TaskUtils} from "../../utils/TaskUtils";
    import ProjectGraphFilter from "./ProjectGraphFilter";

    const barStyles = {};
    Object.keys(SprintUtils.colors).forEach(key => {
        barStyles[key] = {
            base: {
                fill: SprintUtils.colors[key],
                stroke: tinycolor(SprintUtils.colors[key]).darken(25).toString()
            }
        };
    });

    export default {
        name: "ProjectGraph",
        props: {
            projects: {
                type: Array,
                required: true
            }
        },
        components: {ProjectGraphFilter, GanttGraph},
        data() {
            return {
                internalGraphOptions: null,
                shouldUpdateViewport: false,
                openedTasks: {}
            }
        },
        computed: {
            ganttOptions() {
                return {
                    taskList: {
                        display: !this.graphOptions.hideGraphInformation
                    }
                }
            },
            data() {
                const hideCompleted = this.graphOptions.hideCompleted;
                return [{
                    id: -1,
                    label: "All projects",
                    start: ProjectUtils.startDateFromAllProjects(this.projects, hideCompleted),
                    duration: this.$store.getters.lastEndDate.getTime() - ProjectUtils.startDateFromAllProjects(this.projects, hideCompleted).getTime(),
                    progress: MiscUtils.toPercentage(ProjectUtils.calculateProgressOfAllProjects(this.projects)),
                    completed: ProjectUtils.amountOfCompletedProjects(this.projects) + ' / ' + this.projects.length,
                    type: 'project',
                    collapsed: false,
                    style: {
                        base: {
                            fill: 'rgb(50,186,255)',
                            stroke: 'rgb(56,145,215)'
                        }
                    }
                }, ...this.projectData, ...this.sprintData];
            },
            projectData() {
                const hideCompleted = this.graphOptions.hideCompleted;
                return this.filteredAndSortedProjects.map(project => {
                    return {
                        id: project.id,
                        parentId: -1,
                        label: project.projectName,
                        start: ProjectUtils.calculateStartDate(project, hideCompleted),
                        duration: ProjectUtils.calculateProjectDuration(project, hideCompleted),
                        progress: MiscUtils.toPercentage(ProjectUtils.calculateProgress(project)),
                        completed: SprintUtils.amountOfCompletedSprints(project.sprints) + ' / ' + project.sprints.length,
                        type: 'project',
                        collapsed: true,
                        style: {
                            'chart-row-bar': {
                                cursor: 'pointer'
                            },
                            base: {
                                fill: 'rgb(52,151,218)',
                                stroke: 'rgb(35,89,134)'
                            }
                        }
                    };
                });

            },
            sprintData() {
                return this.filteredAndSortedProjects.flatMap(project => {
                        const sprints = this.filterAndSortSprints(project.sprints);
                        return sprints.map(sprint => {
                            return {
                                parentId: project.id,
                                id: sprint.id,
                                label: sprint.title,
                                start: new Date(sprint.startDate),
                                duration: (new Date(sprint.endDate)).getTime() - (new Date(sprint.startDate)).getTime(),
                                progress: MiscUtils.toPercentage(SprintUtils.sprintCompletionRate(sprint)),
                                completed: TaskUtils.amountOfCompletedTasks(sprint.tasks) + ' / ' + sprint.tasks.length,
                                type: 'milestone',
                                style: {
                                    ...SprintUtils.getColor.bind({...SprintUtils, colors: barStyles}, sprint)(),
                                    'chart-row-bar': {
                                        cursor: 'pointer'
                                    },
                                }
                            };
                        });
                    }
                )
            },
            filteredProjects() {
                let projects = this.projects;
                if (!this.graphOptions) {
                    return projects;
                }

                if (this.graphOptions.hideCompleted) {
                    projects = projects.filter(project => !ProjectUtils.projectCompleted(project));
                }

                if (this.graphOptions.hideDue) {
                    projects = projects.filter(project => !ProjectUtils.projectEnded(project));

                }

                if (this.graphOptions.hideRunning) {
                    projects = projects.filter(project => !ProjectUtils.projectRunning(project));
                }

                if (this.graphOptions.hideNotStarted) {
                    projects = projects.filter(project => ProjectUtils.projectStarted(project));
                }

                projects = projects.filter(project => ProjectUtils.calculateProjectDuration(project, this.graphOptions.hideCompleted));

                return projects;
            },
            dataBorders() {
                return {
                    start: ProjectUtils.startDateFromAllProjects(this.projects, this.graphOptions.hideCompleted),
                    end: this.$store.getters.lastEndDate
                }
            },
            filteredAndSortedProjects() {
                const projects = [...this.filteredProjects];
                this.sortProjects(projects);

                return projects;
            },
            dateRange() {
                return this.graphOptions.dateRange;
            },
            graphOptions: {
                get() {
                    return this.internalGraphOptions || {
                        hideCompleted: true,
                        hideDue: false,
                        hideRunning: false,
                        hideNotStarted: false,
                        hideGraphInformation: false,
                        dateRange: {start: null, end: null}
                    };
                },
                set(value) {
                    this.internalGraphOptions = value;
                    this.shouldUpdateViewport = true;
                }
            }
        },
        methods: {
            changeDateRange(dateRange) {
                const oldStart = this.graphOptions.dateRange.start;
                const oldEnd = this.graphOptions.dateRange.end;
                
                if (!oldStart || MiscUtils.parseDate(oldStart).getTime() !== dateRange.start.getTime()) {
                    this.graphOptions.dateRange.start = dateRange.start;
                }
                if (!oldEnd || MiscUtils.parseDate(oldEnd).getTime() !== dateRange.end.getTime()) {
                    this.graphOptions.dateRange.end = dateRange.end;
                }

            },
            viewportUpdated() {
                this.shouldUpdateViewport = false;
            },
            sortProjects(projects) {
                projects.sort((firstProject, otherProject) =>
                    ProjectUtils.calculateStartDate(firstProject, this.graphOptions.hideCompleted).getTime() - ProjectUtils.calculateStartDate(otherProject, this.graphOptions.hideCompleted).getTime()
                );
            },
            setGraphOptions(options) {
                this.internalGraphOptions = options;
                this.shouldUpdateViewport = true;
            },
            clickedSprint(event) {
                this.openSprint({sprint: event.data.id, project: event.data.parentId});
                this.$eventCaller.clickedSprint(event);
            },
            clickedProject(event) {
                this.openProject({project: event.data.id});
                this.$eventCaller.clickedProject(event);
            },
            openSprint({sprint, project}) {
                this.$eventCaller.openProjectAndSprint({sprint, project})
            },
            openProject({project}) {
                this.$eventCaller.openProjectAndSprint({project})
            },
            filterSprints(sprints) {
                if (!this.graphOptions) {
                    return sprints;
                }

                if (this.graphOptions.hideCompleted) {
                    sprints = sprints.filter(sprint => !SprintUtils.sprintCompleted(sprint));
                }

                if (this.graphOptions.hideDue) {
                    sprints = sprints.filter(sprint => !SprintUtils.sprintEnded(sprint));
                }

                if (this.graphOptions.hideRunning) {
                    sprints = sprints.filter(sprint => !SprintUtils.sprintRunning(sprint));
                }

                if (this.graphOptions.hideNotStarted) {
                    sprints = sprints.filter(sprint => SprintUtils.sprintStarted(sprint));
                }


                return sprints;
            },
            filterAndSortSprints(sprints) {
                const filteredSprints = this.filterSprints(sprints);
                this.sortSprints(filteredSprints);

                return filteredSprints;
            },
            sortSprints(sprints) {
                sprints.sort((firstSprint, otherSprint) =>
                    MiscUtils.parseDate(firstSprint.startDate).getTime() - MiscUtils.parseDate(otherSprint.startDate).getTime()
                );
            }
        }
    }
</script>

<style scoped>

</style>