<template>
    <v-expansion-panel>
        <v-expansion-panel-content>
            <template v-slot:header>
                <v-label class="headline">Graph Options</v-label>
            </template>
            <div class="graphFilter">
                <div class="options">
                    <div class="checkboxes">
                        <v-checkbox label="Hide completed" v-model="hideCompleted"></v-checkbox>
                        <v-checkbox label="Hide due" v-model="hideDue"></v-checkbox>
                        <v-checkbox label="Hide running"
                                    v-model="hideRunning"></v-checkbox>
                        <v-checkbox label="Hide not started" v-model="hideNotStarted"></v-checkbox>
                        <v-checkbox label="Hide graph information"
                                    v-model="hideGraphInformation"></v-checkbox>
                    </div>
                    <div class="slider">
                        <date-range-picker class="dateRangeOption" :slider="true" :range="dateBorders"
                                           v-model="dateRange"></date-range-picker>
                    </div>
                </div>
                <div style="clear: both;"></div>
            </div>
        </v-expansion-panel-content>
    </v-expansion-panel>
</template>

<script>
    import DateRangePicker from "../DateRangePicker";

    function createAutoUpdater(key, delay){
        let timeout = null;

        let setValueFunction = function(value){
            this.$eventCaller.input({...this.graphOptions, [key]: value});
        };

        if(typeof delay !== 'undefined' && delay !== null && delay.valueOf && typeof delay.valueOf() === 'number'){
            setValueFunction = function(value){
                const $vm = this;
                clearTimeout(timeout);

                timeout = setTimeout(function(){
                    $vm.$eventCaller.input({...$vm.graphOptions, [key]: value});
                }, +delay.valueOf());
            }
        }

        return {
            get(){
                const origValue = this.graphOptions[key];

                if(!origValue){
                    return origValue;
                }

                if(this.graphOptions[key] instanceof Array){
                    return [...origValue]
                }

                if(typeof origValue === 'object'){
                    return {...origValue};
                }
                return this.graphOptions[key]
            },
            set: setValueFunction
        }
    }

    export default {
        name: "ProjectGraphFilter",
        components: {DateRangePicker},
        props: {
            dateBorders: {
                required: false,
                default() {
                    return {
                        start: null,
                        end: null,
                    };
                }
            },
            value: {
                required: false
            }
        },
        data() {
            return {
                options: null
            }
        },
        computed: {
            dateRange: createAutoUpdater('dateRange', 50),
            hideCompleted: createAutoUpdater('hideCompleted', 50),
            hideDue: createAutoUpdater('hideDue', 50),
            hideRunning: createAutoUpdater('hideRunning', 50),
            hideNotStarted: createAutoUpdater('hideNotStarted', 50),
            hideGraphInformation: createAutoUpdater('hideGraphInformation', 50),
            graphOptions: {
                get() {
                    return this.value ? {...this.value} : {
                        hideCompleted: true,
                        hideDue: false,
                        hideRunning: false,
                        hideNotStarted: false,
                        hideGraphInformation: false,
                        dateRange: {start: null, end: null}
                    };
                },
                set(val) {
                    this.$eventCaller.input(val);
                }
            }
        },
        created() {
            this.$eventCaller.input({...this.graphOptions});
        }
    }
</script>

<style scoped>
    .graphFilter > .options > * {
        display: inline-block;
        vertical-align: top;
    }

    .graphFilter {
        padding: 20px
    }

    .slider {
        width: 100%;
    }

    .checkboxes > * {
        display: inline-block;
        padding-right: 20px
    }
</style>