<template>
    <v-dialog v-model="$_isVisible" width="620px">
        <v-card>
            <v-form ref="addSprintForm" @submit.prevent>
                <v-card-title primary-title>
                    <h2>Add sprint</h2>
                </v-card-title>
                <edit-sprint :sprint="sprint" v-if="sprint"></edit-sprint>
                <v-divider></v-divider>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn flat @click="cancel">Cancel</v-btn>
                    <v-btn color="primary" @click="addSprint">Add sprint</v-btn>
                </v-card-actions>
            </v-form>
        </v-card>
    </v-dialog>
</template>

<script>
    import EditSprint from "./EditSprint";
    import {Dialog} from "../../mixins/DialogMixin";

    export default {
        mixins: [Dialog],
        name: "AddSprintDialog",
        components: {EditSprint},
        props: {
            sprint: {
                required: true
            }
        },
        methods: {
            resetValidation() {
                this.$refs.addSprintForm.resetValidation();
            },
            cancel() {
                this.$eventCaller.addSprint(false);
            },
            addSprint() {
                if (!this.$refs.addSprintForm.validate()) {
                    return
                }
                this.$eventCaller.addSprint(this.sprint);
            },
            onCloseDialog(alreadyClosed) {
                if (!alreadyClosed) {
                    this.cancel();
                }
                this.resetValidation();
            },
            onOpenDialog() {
                this.resetValidation();
            }
        }
    }
</script>

<style scoped>

</style>