<template>
    <delete-dialog
            v-if="sprint"
            @confirmDelete="deleteSprint"
            @dontDelete="makeDialogInvisible"
            :visible="visible">
        <h2 slot="title">Delete Sprint</h2>

        <p slot="areYouSureText">Are your sure you want to delete the sprint from
            <highlight>{{ sprint.startDate }}</highlight>
            to
            <highlight>{{ sprint.endDate }}</highlight>
            with
            <highlight>{{ taskCount }} tasks</highlight>
            ?
        </p>

        <template slot="deleteButton">Delete sprint</template>
        <template slot="dontDeleteButton">Don't delete sprint</template>
    </delete-dialog>
</template>

<script>
    import DeleteDialog from "../DeleteDialog";
    import {Dialog} from "../../mixins/DialogMixin";
    import Highlight from "../Highlight";

    export default {
        mixins: [Dialog],
        name: "DeleteSprintDialog",
        components: {Highlight, DeleteDialog},
        props: {
            sprint: {
                validator: prop => prop === undefined || prop === null || typeof prop === "object",
                required: false
            }
        },
        computed: {
            taskCount() {
                if (this.sprint.tasks && this.sprint.tasks.length) {
                    return this.sprint.tasks.length
                }
                return 0;
            }
        },
        methods: {
            deleteSprint() {
                this.$eventCaller.deleteSprint(true);
            },
            makeDialogInvisible() {
                this.$eventCaller.deleteSprint(false);
            }
        }
    }
</script>

<style scoped>

</style>