<template>
    <v-card-text>
        <v-text-field v-model="sprint.title" label="Sprint name" :rules="required"></v-text-field>
        <div class="datePicker">
            <v-menu
                    v-model="startDatePickerVisible"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    lazy
                    transition="scale-transition"
                    offset-y
                    full-width
                    min-width="290px"
            >
                <template v-slot:activator="{ on }">
                    <v-text-field
                            v-model="sprint.startDate"
                            label="Start date"
                            prepend-icon="event"
                            readonly
                            v-on="on"
                            :rules="required"
                    ></v-text-field>
                </template>
                <v-date-picker v-model="sprint.startDate" :max="formattedDate(oneDayBefore(sprintEndDate))"
                               @input="startDatePickerVisible = false"></v-date-picker>
            </v-menu>
        </div>
        <div class="datePicker">
            <v-menu
                    v-model="endDatePickerVisible"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    lazy
                    transition="scale-transition"
                    offset-y
                    full-width
                    min-width="290px"
            >
                <template v-slot:activator="{ on }">
                    <v-text-field
                            v-model="sprint.endDate"
                            label="End date"
                            prepend-icon="event"
                            readonly
                            v-on="on"
                            :rules="required"
                    ></v-text-field>
                </template>
                <v-date-picker v-model="sprint.endDate" :min="formattedDate(oneDayAfter(sprintStartDate))"
                               @input="endDatePickerVisible = false"></v-date-picker>
            </v-menu>
        </div>
    </v-card-text>
</template>

<script>
    import moment from "moment";

    export default {
        name: "EditSprint",
        props: {
            sprint: {
                required: true
            }
        },
        data() {
            return {
                startDatePickerVisible: false,
                endDatePickerVisible: false
            };
        },
        methods: {
            formattedDate(date) {
                return moment(date).format("YYYY-MM-DD");
            },
            onOpened() {
                if (!this.sprintStartDate) {
                    let date = new Date();
                    if (this.sprintEndDate) {
                        date = new Date(this.sprintEndDate);
                        date.setDate(this.sprint.startDate.getDate() - 7);


                        // this.sprint.startDate = new Date(this.sprintEndDate);
                        // this.sprint.startDate.setDate(this.sprint.startDate.getDate() - 7);
                    } else {
                        date = new Date();
                    }

                    date.setHours(0, 0, 0, 0);

                    this.$set(this.sprint, 'startDate', this.formattedDate(date));
                }
                if (!this.sprintEndDate) {
                    const date = new Date(this.sprint.startDate);
                    date.setDate(date.getDate() + 7);

                    date.setHours(0, 0, 0, 0);

                    this.$set(this.sprint, 'endDate', this.formattedDate(date));
                }

            },
            oneDayAfter(date){
                return this.addDays(date, 1);
            },
            oneDayBefore(date){
                return this.addDays(date, -1);
            },
            addDays(date, days){
                if(!date){
                    return null;
                }

                date = new Date(date);
                date.setDate(date.getDate() + days);

                return date;
            }
        },
        watch: {
            sprint: {
                handler(newValue) {
                    if (newValue) {
                        this.onOpened();
                    }
                },
                immediate: true
            }
        },
        computed: {
            sprintStartDate() {
                if (!this.sprint.startDate) {
                    return null;
                }
                return new Date(this.sprint.startDate);
            },
            sprintEndDate() {
                if (!this.sprint.endDate) {
                    return null;
                }
                return new Date(this.sprint.endDate);
            }
        }
    }
</script>

<style scoped>
    .datePicker {
        display: inline-block;
        flex: auto;
    }
</style>