<template>
    <v-dialog v-model="$_isVisible" width="500px">
        <v-card>
            <v-card-title primary-title>
                <h2>Edit sprint</h2>
            </v-card-title>
            <v-form ref="editSprintForm" @submit.prevent>
                <edit-sprint v-if="editedSprint" :sprint="editedSprint"></edit-sprint>
            </v-form>
            <v-divider></v-divider>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn flat @click="closeDialog">Close</v-btn>
                <v-btn color="primary" @click="saveSprint">Save</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    import EditSprint from "./EditSprint";
    import {Dialog} from "../../mixins/DialogMixin";
    import SprintModel from "../../models/sprintModel";

    export default {
        mixins: [Dialog],
        name: "EditSprintDialog",
        components: {EditSprint},
        props: {
            sprint: {
                required: true
            }
        },
        data() {
            return {
                editedSprint: new SprintModel(0, null, null, null)
            }
        },
        methods: {
            resetValidation() {
                this.$refs.editSprintForm.resetValidation();
            },
            saveSprint(){
                if (!this.$refs.editSprintForm.validate()) {
                    return;
                }
                this.$eventCaller.saveSprint(this.editedSprint);
                this.resetValidation();
            },
            closeDialog() {
                this.$eventCaller.saveSprint(false);
                this.resetValidation();
            },
            onCloseDialog(alreadyClosed) {
                if(!alreadyClosed){
                    this.closeDialog();
                }
            },
            onOpenDialog(){
                this.editedSprint = Object.assign(new SprintModel(0, null, null, null), this.sprint);
            }
        }
    }
</script>

<style scoped>

</style>