<template>
    <v-list>
        <draggable
                :list="draggableSprints"
                handle=".dragHandle"
                :sort="true"
                @change="sortSprints"
                v-bind="{disabled: !sprintsSortable}"
                group="allSprints"
                ref="draggableContainer"
        >
            <sprint class="test"
                    v-for="sprint in sprints" :key="sprint.id"
                    :sprint="sprint"
                    :openedSprint="openedSprint"
                    @deleteSprint="deleteSprint"
                    @addTask="addTask"
                    @deleteTask="deleteTask"
                    @editSprint="editSprint"
                    @changeTaskState="changeTaskState"

                    @hasOpenedSprint="hasOpenedSprint"
            ></sprint>
        </draggable>
        <v-container v-if="showNoSprintsMessage">
            <p>No sprints available</p>
        </v-container>
    </v-list>
</template>

<script>
    import Sprint from "./Sprint";
    import draggable from "vuedraggable"
    import {mapGetters} from "vuex";

    function identity(obj) {
        return obj;
    }

    export default {
        name: "Sprints",
        components: {Sprint, draggable},
        props: {
            sprints: {
                type: Array,
                required: true
            },
            openedSprint: {
                required: true
            }
        },
        data() {
            return {
                toProject: null,
                ghostSprintAdded: false,
                ghostSprintRemoved: false
            };
        },
        computed: {
            showNoSprintsMessage(){
                return (this.sprints.length === 0 && !this.ghostSprintAdded)
                    || this.sprints.length === 1 && this.ghostSprintRemoved
            },
            draggableSprints() {
                return this.sprints.map(identity);
            },
            ...mapGetters([
                'sprintsSortable'
            ])
        },
        methods: {
            hasOpenedSprint(){
                this.$eventCaller.hasOpenedSprint();
            },
            changeTaskState({sprint, task, state}) {
                this.$eventCaller.changeTaskState({sprint, task, state});
            },
            deleteSprint(sprint) {
                this.$eventCaller.deleteSprint(sprint);
            },
            addTask(sprint) {
                this.$eventCaller.addTask(sprint);
            },
            deleteTask({sprint, task}) {
                this.$eventCaller.deleteTask({sprint, task});
            },
            editSprint(sprint) {
                this.$eventCaller.editSprint(sprint);
            },
            sortSprints(event) {
                const {added, removed, moved} = event;

                if (added) {
                    this.$eventCaller.prepareChangeSprintProject(added.newIndex);
                    return;
                }

                if (removed) {
                    this.$eventCaller.changeSprintProject({sprint: removed.element, oldIndex: removed.oldIndex});
                    return;
                }

                const fromIndex = moved.oldIndex;
                const toIndex = moved.newIndex;
                this.$eventCaller.changeSprintOrder({fromIndex, toIndex});
            }
        },
        mounted() {
            const mutationObserver = new MutationObserver((mutations) => {
                this.ghostSprintAdded = mutations.some(
                    mutation =>
                        mutation.addedNodes.length === 1 &&
                        mutation.target.childElementCount === 1
                );

                this.ghostSprintRemoved = mutations.some(
                    mutation =>
                        mutation.removedNodes.length === 1 &&
                        mutation.target.childElementCount === 0
                );

            });

            mutationObserver.observe(this.$refs.draggableContainer.$el, {
                attributes: false,
                characterData: false,
                childList: true,
                subtree: false,
                attributeOldValue: false,
                characterDataOldValue: false
            })
        }
    }
</script>

<style scoped>

</style>