<template>
    <v-expansion-panel v-if="sprint" class="sprintDraggable" v-model="expandedPanels" expand ref="sprintExpansionPanel">
        <v-expansion-panel-content :class="{sprintEnded, sprintEndsOneWeek, highlightFade}" class="sprint">
            <template v-slot:header>
                <div v-if="sprintsSortable" class="dragHandle">
                    <v-icon>menu</v-icon>
                </div>
                <div>
                    <highlight>{{ sprint.title}}</highlight>
                    from
                    <highlight>{{ sprint.startDate }}</highlight>
                    to
                    <highlight>{{ sprint.endDate }}</highlight>
                </div>
                <div class="icons">
                    <div v-if="taskAddPossible" class="addTask" @click.stop="addTask" title="Add new task">
                        <v-icon>add</v-icon>
                    </div>
                    <div v-if="sprintEditPossible" class="editSprint" @click.stop="editSprint" title="Edit sprint">
                        <v-icon>edit</v-icon>
                    </div>
                    <div v-if="sprintDeletePossible" class="deleteSprint" @click.stop="deleteSprint"
                         title="Delete sprint">
                        <v-icon>delete</v-icon>
                    </div>
                </div>
            </template>
            <tasks :tasks="sprint.tasks"
                   @deleteTask="deleteTask"
                   @changeTaskState="changeTaskState"
            ></tasks>
        </v-expansion-panel-content>


    </v-expansion-panel>
</template>

<script>

    import Tasks from "../Task/Tasks";
    import Highlight from "../Highlight";
    import {SprintUtils} from "../../utils/SprintUtils";
    import {mapGetters} from "vuex";

    export default {
        name: "Sprint",
        components: {Highlight, Tasks},
        props: {
            sprint: {
                type: Object,
                required: true
            },
            openedSprint: {
                required: false,
                default: null,
            }
        },
        watch: {
            openedSprint(newVal) {
                if (newVal === this.sprint.id) {
                    if (this.$refs.sprintExpansionPanel.$el.clientHeight === 0) {
                        setTimeout(this.expandPanel.bind(this), 250);
                    } else {
                        this.expandPanel();
                    }

                    this.$eventCaller.hasOpenedSprint();
                }
            }
        },
        data: function () {
            return {
                deleteSprintDialogVisible: false,
                addTaskDialogVisible: false,
                expanded: false,
                highlightFade: false
            }
        },
        computed: {
            expandedPanels: {
                get() {
                    return [this.expanded];
                },
                set(val) {
                    this.expanded = val === 0;
                }
            },
            sprintEnded: function () {
                return SprintUtils.sprintEnded(this.sprint);
            },
            sprintEndsOneWeek: function () {
                return SprintUtils.sprintEndsOneWeek(this.sprint) && !this.sprintEnded;
            },
            ...mapGetters([
                'taskAddPossible',
                'sprintEditPossible',
                'sprintDeletePossible',
                'sprintsSortable'
            ])
        },
        methods: {
            scrollToExpansionPanel() {
                this.$refs.sprintExpansionPanel.$el.scrollIntoView({behavior: "smooth"});
            },
            highlightExpansionPanel() {
                if (this.highlightFade) {
                    return;
                }
                this.highlightFade = true;
                setTimeout(() => {
                    this.highlightFade = false;
                }, 500);
            },
            expandPanel() {
                this.expanded = true;
                this.scrollToExpansionPanel();
                this.highlightExpansionPanel();
            },
            changeTaskState({task, state}) {
                this.$eventCaller.changeTaskState({sprint: this.sprint, task, state});
            },
            deleteSprint() {
                this.$eventCaller.deleteSprint(this.sprint)
            },
            addTask() {
                this.$eventCaller.addTask(this.sprint);
            },
            deleteTask(task) {
                this.$eventCaller.deleteTask({sprint: this.sprint, task});
            },
            editSprint() {
                this.$eventCaller.editSprint(this.sprint);
            }
        }
    }
</script>

<style scoped>
    .sprint {
        background-color: lightgreen !important;;
    }

    .sprintEnded {
        background-color: #FF7777 !important;
    }

    .sprintEndsOneWeek {
        background-color: #FFFFCC !important;
    }


    .icons {
        flex: none !important;
        margin-right: 10px;
    }

    .icons > * {
        display: inline;
        padding: 0 2px;
    }

    .dragHandle {
        flex: none !important;;
        padding-right: 20px;
        cursor: grab;
    }

    .v-expansion-panel__container .v-expansion-panel__body > .container {
        border-top: rgba(0, 0, 0, 0.2) 1px solid;
    }

</style>