<template>
    <v-container v-if="loadingProjects && projects.length === 0">
        <p>Loading projects...</p>
    </v-container>
    <div v-else>
        <v-container v-if="projectAddPossible">
            <v-form ref="addProjectForm" @submit.prevent>
                <v-text-field label="Project Name" v-model="projectName" :rules="required"></v-text-field>
                <v-btn color="primary" @click="addProject">
                    Add Project
                </v-btn>
            </v-form>
        </v-container>

        <div v-if="projects.length">
            <v-list>
                <v-layout row wrap>
                    <project class="xl3 lg4 md6 xs12 project"
                             v-for="project in projects" :key="project.id"
                             :project="project"
                             :openedProject="openedProject"
                             :openedSprint="openedSprint"
                             @hasOpenedProject="hasOpenedProject"
                             @hasOpenedSprint="hasOpenedSprint"
                             @deleteSprint="openDeleteSprintDialog"
                             @deleteProject="openDeleteProjectDialog"
                             @addSprint="openAddSprintDialog"
                             @editProject="openEditProjectDialog"
                             @addTask="openAddTaskDialog"
                             @deleteTask="openDeleteTaskDialog"
                             @editSprint="openEditSprintDialog"
                             @changeSprintOrder="changeSprintOrder"
                             @changeTaskState="changeTaskState"
                             @prepareChangeSprintProject="prepareChangeSprintProject"
                             @changeSprintProject="changeSprintProject"
                    ></project>
                </v-layout>
            </v-list>
            <v-divider></v-divider>
            <project-graph
                    :projects="projects"
                    @openProjectAndSprint="openProjectAndSprint"
            ></project-graph>
        </div>
        <v-container v-else>
            <p>No projects available</p>
        </v-container>
        <v-divider></v-divider>

        <v-container>
            <div>All projects end at {{ lastEndDateFormatted }}</div>
        </v-container>

        <div class="dialogs">
            <delete-sprint-dialog :sprint="selectedSprint"
                                  :visible="deleteSprintDialogVisible"
                                  @deleteSprint="deleteSprint"
            ></delete-sprint-dialog>
            <delete-project-dialog :project="selectedProject"
                                   :visible="deleteProjectDialogVisible"
                                   @deleteProject="deleteProject"
            ></delete-project-dialog>
            <add-sprint-dialog :sprint="selectedSprint"
                               :visible="addSprintDialogVisible"
                               @addSprint="addSprint"
            ></add-sprint-dialog>
            <edit-project-dialog :project="selectedProject"
                                 :visible="editProjectDialogVisible"
                                 @saveProject="saveProject"
            ></edit-project-dialog>
            <add-task-dialog :visible="addTaskDialogVisible"
                             @addTask="addTask"
            ></add-task-dialog>
            <delete-task-dialog :task="selectedTask"
                                :visible="deleteTaskDialogVisible"
                                @deleteTask="deleteTask"
            ></delete-task-dialog>
            <edit-sprint-dialog :sprint="selectedSprint"
                                :visible="editSprintDialogVisible"
                                @saveSprint="saveSprint"
            ></edit-sprint-dialog>
        </div>
    </div>
</template>

<script>
    import Project from "../components/Project/Project";
    import DeleteSprintDialog from "../components/Sprint/DeleteSprintDialog";
    import DeleteProjectDialog from "../components/Project/DeleteProjectDialog";
    import AddSprintDialog from "../components/Sprint/AddSprintDialog";
    import EditProjectDialog from "../components/Project/EditProjectDialog";
    import AddTaskDialog from "../components/Task/AddTaskDialog";
    import DeleteTaskDialog from "../components/Task/DeleteTaskDialog";
    import EditSprintDialog from "../components/Sprint/EditSprintDialog";
    import {mapActions, mapGetters} from "vuex";
    import ProjectModel from "../models/projectModel";
    import ProjectGraph from "../components/Project/ProjectGraph";

    export default {
        name: "Projects",
        components: {
            ProjectGraph,
            EditSprintDialog,
            DeleteTaskDialog,
            AddTaskDialog,
            EditProjectDialog,
            AddSprintDialog,
            DeleteProjectDialog,
            DeleteSprintDialog,
            Project
        },
        data() {
            return {
                projectName: '',
                openedProject: null,
                openedSprint: null
            }
        },
        computed: {
            projects() {
                return this.$store.getters.projects;
            },
            selectedSprint() {
                return this.$store.state.sprints.selectedSprint;
            },
            selectedProject() {
                return this.$store.state.projects.selectedProject;
            },
            selectedTask() {
                return this.$store.state.tasks.selectedTask;
            },
            deleteSprintDialogVisible() {
                return this.$store.state.sprints.deleteSprintDialogVisible;
            },
            deleteProjectDialogVisible() {
                return this.$store.state.projects.deleteProjectDialogVisible;
            },
            addSprintDialogVisible() {
                return this.$store.state.sprints.addSprintDialogVisible;
            },
            editProjectDialogVisible() {
                return this.$store.state.projects.editProjectDialogVisible;
            },
            addTaskDialogVisible() {
                return this.$store.state.tasks.addTaskDialogVisible;
            },
            deleteTaskDialogVisible() {
                return this.$store.state.tasks.deleteTaskDialogVisible;
            },
            editSprintDialogVisible() {
                return this.$store.state.sprints.editSprintDialogVisible;
            },

            ...mapGetters([
                'lastEndDate',
                'lastEndDateFormatted',
                'projectAddPossible',
                'loadingProjects'
            ])
        },
        watch: {
            projects: {
                handler: function () {
                    localStorage.projects = JSON.stringify(this.projects);
                },
                deep: true
            }
        },
        methods: {
            hasOpenedProject() {
                this.openedProject = -1;
            },
            hasOpenedSprint() {
                this.openedSprint = -1;
            },
            openProjectAndSprint(openedProjectAndSprint) {
                this.openedProject = openedProjectAndSprint.project;
                this.openedSprint = openedProjectAndSprint.sprint;
            },
            addProject() {
                if (!this.$refs.addProjectForm.validate()) {
                    return;
                }
                this.$store.dispatch('addProject', new ProjectModel(null, this.projectName))
                    .then(() => {
                        this.$refs.addProjectForm.reset();
                    });
            },
            ...mapActions([
                "deleteProject",
                "deleteSprint",
                "deleteTask",
                "addSprint",
                "openDeleteProjectDialog",
                "openDeleteSprintDialog",
                "openAddSprintDialog",
                "openEditProjectDialog",
                "openAddTaskDialog",
                "openDeleteTaskDialog",
                "openEditSprintDialog",
                "saveProject",
                "saveSprint",
                "changeSprintOrder",
                "addTask",
                "changeTaskState",
                "prepareChangeSprintProject",
                "changeSprintProject"
            ])
        }
    }
</script>

<style scoped>
    .project {
        padding: 10px;
    }

    .nonClickable {
        pointer-events: none;
    }
</style>