<template>
    <div v-if="needData">
        <h1 style="color: red">Userdata is needed for authentication against backend service.</h1>
        <p>Create a .env.local file in your root directory and add these lines</p>
        <pre style="color: blue">VUE_APP_USERNAME="&lt;username&gt;"
VUE_APP_PASSWORD="&lt;password&gt;"<v-icon>clipboard-text</v-icon>
        </pre>

        <p>If data is still loaded, you have a valid bearer token in your local storage which is going to expire.</p>
    </div>
</template>

<script>
    export default {
        name: "AddUserDataMessage",
        data(){
            return {
                needData: (!process.env.VUE_APP_USERNAME || !process.env.VUE_APP_PASSWORD)
            };
        }
    }
</script>

<style scoped>

</style>