<template>
    <div class="dateRangeSlider" v-if="slider">
        <div class="date startDate">
            <highlight background-color="#1976d2">{{ startDate }}</highlight>
        </div>
        <v-range-slider class="slider" :thumb-label="true" thumb-size="50" :value="sliderDateRange"
                        @end="changeSliderDate" :min="rangeMin"
                        :max="rangeMax"
                        :step="ONE_DAY_IN_MILLISECONDS">
            <template v-slot:thumb-label="date">
                <div class="thumb">{{ toDateString(date.value) }}</div>
            </template>
        </v-range-slider>
        <div class="date endDate">
            <highlight background-color="#1976d2">{{ endDate }}</highlight>
        </div>
    </div>
    <div class="dateRangePicker" v-else>
        <div class="datePicker">
            <v-label>{{ startLabel }}</v-label>
            <v-date-picker v-model="startDate" :max="rangeMax" :min="rangeMin"></v-date-picker>
        </div>
        <div class="datePicker">
            <v-label>{{ endLabel }}</v-label>
            <v-date-picker v-model="endDate" :min="rangeMin" :max="rangeMax"></v-date-picker>
        </div>
    </div>

</template>

<script>
    import Highlight from "./Highlight";
    import {MiscUtils} from "../utils/MiscUtils";

    export default {
        name: "DateRangePicker",
        components: {Highlight},
        props: {
            value: {
                required: true
            },
            startLabel: {
                required: false,
                default: "Start date"
            },
            endLabel: {
                required: false,
                default: "End date"
            },
            slider: {
                type: Boolean,
                required: false,
                default: false
            },
            range: {
                type: Object,
                required: false
            }
        },
        data() {
            return {
                dateRangeArray: [null, null],
                updateTimeout: null,
                ONE_DAY_IN_MILLISECONDS: MiscUtils.ONE_DAY_IN_MILLISECONDS
            };
        },
        computed: {
            localValue() {
                return this.value ? {...this.value} : {start: null, end: null};
            },
            sliderDateRange: {
                get() {
                    return [this.parseDate(this.startDate).getTime(), this.parseDate(this.endDate).getTime()];
                },
                set(dateRangeArray) {
                    [this.startDate, this.endDate] = dateRangeArray;
                }
            },
            rangeMin() {
                if (this.slider) {
                    return this.range.start.getTime();
                }

                if (!this.range.start) {
                    return null;
                }

                return this.format(this.range.start);
            },
            rangeMax() {
                if (this.slider) {
                    return this.range.end.getTime();
                }

                if (!this.range.end) {
                    return null;
                }

                return this.format(this.range.end);
            },
            startDate: {
                get() {
                    if (!this.localValue.start) {
                        if (this.range.start) {
                            return this.format(this.range.start);
                        }
                        return null;
                    }
                    return this.format(this.localValue.start);
                },
                set(time) {
                    time = this.slider ? this.format(time) : time;

                    const newValue = {...this.localValue};

                    if (time === this.startDate && !this.slider) {
                        newValue.start = null;
                    } else {
                        newValue.start = this.parseDate(time);
                    }

                    if (time !== this.startDate) {
                        this.$eventCaller.input(newValue);
                    }

                }
            },
            endDate: {
                get() {
                    if (!this.localValue.end) {
                        if (this.range.end) {
                            return this.format(this.range.end);
                        }
                        return null;
                    }
                    return this.format(this.localValue.end);
                },
                set(time) {
                    time = this.slider ? this.format(time) : time;

                    const newValue = {...this.localValue};

                    if (time === this.endDate && !this.slider) {
                        newValue.end = null;
                    } else {
                        newValue.end = this.parseDate(time);
                    }
                    if (time !== this.endDate) {
                        this.$eventCaller.input(newValue);
                    }
                }
            }
        },
        watch: {
            startDate(value) {
                if (value !== MiscUtils.parseDate(this.startDate).getTime()) {
                    this.sliderDateRange[0] = MiscUtils.parseDate(this.startDate).getTime();
                }
            },
            endDate(value) {
                if (value !== MiscUtils.parseDate(this.endDate).getTime()) {
                    this.sliderDateRange[1] = MiscUtils.parseDate(this.endDate).getTime();
                }
            },
            range(newValue, oldValue) {
                if (!this.slider) {
                    return;
                }

                if (oldValue.start.getTime() === this.sliderDateRange[0]) {
                    this.sliderDateRange[0] = newValue.start.getTime();
                }
                if (oldValue.end.getTime() === this.sliderDateRange[1]) {
                    this.sliderDateRange[1] = newValue.end.getTime();
                }


                const newStartDate = Math.max(newValue.start.getTime(), this.sliderDateRange[0]);
                const newEndDate = Math.min(newValue.end.getTime(), this.sliderDateRange[1]);

                this.sliderDateRange = [newStartDate, newEndDate];
            },
            dateRangeArray: {
                handler(newValue) {
                    if (!this.slider) {
                        return;
                    }
                    // Changing the values every time the slider updates causes lag. It only gets called 100ms after a stop.
                    clearTimeout(this.updateTimeout);
                    this.updateTimeout = setTimeout(() => {
                        const start = newValue[0];

                        const end = newValue[1];

                        this.startDate = new Date(start);
                        this.endDate = new Date(end);

                    }, 100);
                },
                deep: true
            }
        },
        methods: {
            changeSliderDate(dates) {
                this.sliderDateRange = dates;
            },
            toDateString(date) {
                return MiscUtils.format(new Date(date));
            },
            parseDate: MiscUtils.parseDate,
            format: MiscUtils.format
        },
        created() {
            if (this.slider && (!this.value.start || !this.value.end)) {
                const initStart = this.startDate;
                const initEnd = this.endDate;

                this.$eventCaller.input({
                    start: initStart,
                    end: initEnd
                });
            }
            this.dateRangeArray = [this.parseDate(this.startDate).getTime(), this.parseDate(this.endDate).getTime()];
        }
    }
</script>

<style scoped>
    .datePicker > * {
        display: block;
    }

    .dateRangePicker > * {
        display: inline-block;
    }

    .dateRangePicker > *, .dateRangeSlider > * {
        padding: 10px;
    }

    .dateRangeSlider {
        display: flex;
    }

    .slider {
        margin-top: 0;
    }

    .date {
        flex: 0 0 auto;
    }

    .slider {
        flex: 1 1 auto;
    }

    .thumb {
        display: inline-block;
        white-space: nowrap;
        transform: scale(0.7) rotate(-45deg) matrix3d(
                1, 0, 0, 0,
                0, 2.5, 0, 0,
                0, 0, 1, 0,
                0, 0, 0, 1
        );
    }
</style>

<style>
    .slider .v-slider__thumb-label {
        transform: translateY(-20%) translateY(-12px) translateX(-50%) rotate(45deg) matrix3d(
                1, -0.35, 0, 0,
                -0.35, 1, 0, 0,
                0, 0, 1, 0,
                10, 10, 0, 1
        );
    }
</style>