<template>
    <v-dialog v-model="$_isVisible" width="500px">
        <v-card>
            <v-card-title primary-title>
                <slot name="title"></slot>
            </v-card-title>
            <v-card-text>
                <slot name="areYouSureText"></slot>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn flat color="red" @click="confirmDelete">
                    <slot name="deleteButton"></slot>
                </v-btn>
                <v-btn color="primary" @click="dontDelete">
                    <slot name="dontDeleteButton"></slot>
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    import {Dialog} from "../mixins/DialogMixin";

    export default {
        mixins: [Dialog],
        name: "DeleteDialog",
        methods: {
            confirmDelete() {
                this.$eventCaller.confirmDelete();
            },
            dontDelete() {
                this.$eventCaller.dontDelete();
            },
            onCloseDialog(alreadyClosed) {
                if(!alreadyClosed){
                    this.dontDelete();
                }
            }
        }
    }
</script>

<style scoped>

</style>