<template>
    <gantt-elastic ref="ganttGraph"
                   :options="ganttOptions"
                   :tasks="data"
                   :dynamicStyle="dynamicStyle"
                   @chart-project-click="clickedProject"
                   @chart-milestone-click="clickedSprint"
                   @options-changed="optionsChanged"
                   @mounted="ganttMounted"
    >
        <!--                   @tasks-changed="resizeGraph"-->
        <!--                   @calendar-recalculate="resizeWithDebounce"-->
        <template slot="header">
            <slot name="header"></slot>
        </template>
        <slot name="footer" slot="footer"></slot>
    </gantt-elastic>
</template>

<script>
    import moment from "moment";
    import {default as GanttElastic, mergeDeep} from "gantt-elastic";
    import {MiscUtils} from "../utils/MiscUtils";
    import {MathUtils} from "../utils/MathUtils";

    function scrollWithDebounce() {
        clearTimeout(this.scrollTimeout);
        this.scrollTimeout = setTimeout(() => {
            this.scrollTimeout = null;
            this.scroll();
        }, 200);
    }

    function resizeWithDebounce() {
        clearTimeout(this.resizeTimeout);
        this.resizeTimeout = setTimeout(() => {
            this.resizeTimeout = null;
            this.resizeGraph();
        }, 500);
    }

    function scrollAndResizeWithDebounce() {
        resizeWithDebounce.apply(this, arguments);
        scrollWithDebounce.apply(this, arguments);
    }

    function checkForInequality(callback) {
        return function (newValue, oldValue) {
            if (newValue !== oldValue) {
                callback.apply(this);
            }
        }
    }

    export default {
        name: "GanttGraph",
        components: {GanttElastic},
        props: {
            options: {
                required: false,
                default: () => {
                    return {};
                }
            },
            data: {
                required: true
            },
            label: {
                type: String,
                required: true
            },
            dateRange: {
                required: false,
                default() {
                    return {
                        start: null,
                        end: null
                    };
                }
            },
            shouldUpdateViewport: {
                type: Boolean,
                required: false,
                default: false
            }
        },
        data() {
            const styleCenter = {
                'task-list-header-label': {
                    'text-align': 'center',
                    width: '100%'
                },
                'task-list-item-value-container': {
                    'text-align': 'center',
                    width: '100%'
                }
            };
            return {
                scrollTimeout: null,
                resizeTimeout: null,
                timeZoomChanged: false,
                timeZoom: 1,
                ganttOptions: null,
                defaultOptions: {
                    maxRows: 100,
                    maxHeight: 700,
                    times: {
                        timeScale: 1
                    },
                    title: {
                        label: '',
                        html: false
                    },
                    scope: {
                        before: 5,
                        after: 5
                    },
                    row: {
                        height: 35
                    },
                    calendar: {
                        hour: {
                            display: false
                        }
                    },
                    chart: {
                        progress: {
                            bar: true
                        },
                        expander: {
                            display: true
                        }
                    },
                    taskList: {
                        expander: {
                            straight: false
                        },
                        columns: [
                            {
                                id: 1,
                                label: 'Description',
                                value: 'label',
                                width: 150,
                                expander: true,
                                html: true
                            },
                            {
                                id: 2,
                                label: 'Start',
                                value: task => moment(task.start).format('YYYY-MM-DD'),
                                width: 75,
                                style: styleCenter
                            },
                            {
                                id: 3,
                                label: 'End',
                                value: task => moment(task.start.getTime() + task.duration).format('YYYY-MM-DD'),
                                width: 75,
                                style: styleCenter
                            },
                            {
                                id: 4,
                                label: "Completed",
                                value: 'completed',
                                width: 75,
                                style: styleCenter
                            },
                            {
                                id: 5,
                                label: '% (weigthed)',
                                value: 'progress',
                                width: 75,
                                style: styleCenter
                            }
                        ]
                    }
                },
                dynamicStyle: {
                    'task-list-header-label': {
                        'font-weight': 'bold'
                    }
                },
            }
        },
        watch: {
            'ganttOptions.scroll.chart.timeCenter': checkForInequality(scrollWithDebounce),
            'ganttOptions.taskList.columns': {
                handler(newVal, oldVal) {
                    if (!oldVal) {
                        return this.resizeWithDebounce();
                    }

                    if (newVal.length !== oldVal.length) {
                        return this.resizeWithDebounce();
                    }

                    if (
                        newVal.some(
                            (column, index) =>
                                oldVal[index].id !== column.id ||
                                oldVal[index].finalWidth !== column.finalWidth
                        )
                    ) {
                        this.resizeWithDebounce();
                    }
                },
                deep: true
            },
            'ganttOptions.taskList.display': checkForInequality(resizeWithDebounce),
            'ganttOptions.scope.after': checkForInequality(resizeWithDebounce),
            'ganttOptions.scope.before': checkForInequality(resizeWithDebounce),

            data(tasks) {
                const wrongTask = tasks.find(task => task.start === null || task.duration === null || task.duration === 0);
                if (wrongTask) {
                    throw new Error("Task (" + wrongTask.label + "[" + wrongTask.id + "]) needs to have a start date and a duration set for the graph to work.");
                }
            },
            shouldUpdateViewport(newVal) {
                if (!newVal) {
                    return;
                }
                this.resizeGraph();
                this.$eventCaller.viewportUpdated();
            },
            dateRange: {
                handler(newVal) {
                    if (!newVal.start || !newVal.end) {
                        return
                    }
                    this.resizeWithDebounce();
                },
                deep: true,
                immediate: true
            },
            options: {
                handler(newOptions) {
                    const options = mergeDeep({}, this.ganttOptions, newOptions);
                    this.ganttOptions = options;
                    this.$refs.ganttGraph.state.options = options;
                },
                deep: true
            },
        },
        computed: {
            endDate() {
                return moment(MiscUtils.parseDate(this.dateRange.end));
            },
            startDate() {
                return moment(MiscUtils.parseDate(this.dateRange.start));
            },
            middleOfTimeRange() {
                return this.endDate.toDate().getTime() / 2 + this.startDate.toDate().getTime() / 2;
            },
        },
        methods: {
            ganttMounted(){
                console.log('gantt mounted');
                document.querySelector('#diagonalHatch').setAttribute('patternTransform', 'rotate(135 0 0)');
            },
            resizeWithDebounce,
            scrollWithDebounce,
            scrollAndResizeWithDebounce,
            shouldResize() {
                const alreadyChanged = this.timeZoomChanged;
                this.recalculateTimeZoom();

                return alreadyChanged || this.timeZoomChanged;
            },
            recalculateTimeZoom() {
                const start = this.startDate.toDate();
                const end = this.endDate.toDate();

                if (isNaN(start.getTime()) || isNaN(end.getTime())) {
                    return;
                }

                const mainView = this.$refs.ganttGraph.$refs.mainView;
                const chartWidth = mainView.$el.clientWidth - mainView.$refs.taskList.clientWidth;

                const totalTime = end - start;

                let days = moment(new Date(totalTime)).diff(new Date(0), 'day');
                days += (this.ganttOptions.scope.after + this.ganttOptions.scope.before) / 1.15;
                days = Math.max(1, days);

                const newTimeZoom = MathUtils.timeZoomForGraph(days, chartWidth);
                if (newTimeZoom !== this.timeZoom) {
                    this.timeZoomChanged = true;
                }

                this.timeZoom = newTimeZoom;
            },
            resizeGraph() {
                if(!this.ganttOptions.scroll){
                    return;
                }

                this.$refs.ganttGraph.$off('chart-scroll-horizontal', this.$refs.ganttGraph.onScrollChart);
                this.recalculateTimeZoom();
                if (Math.abs(this.ganttOptions.scroll.chart.timeCenter - this.middleOfTimeRange) >= MiscUtils.ONE_DAY_IN_MILLISECONDS) {
                    this.ganttOptions.scroll.chart.timeCenter = this.middleOfTimeRange;
                }
                this.ganttOptions.times.timeZoom = this.timeZoom;
                this.$refs.ganttGraph.scrollToTime(this.ganttOptions.scroll.chart.timeCenter);
                this.$nextTick(() => {
                    this.$refs.ganttGraph.scrollToTime(this.ganttOptions.scroll.chart.timeCenter);
                    this.$refs.ganttGraph.$on('chart-scroll-horizontal', this.$refs.ganttGraph.onScrollChart);
                });
            },
            clickedProject(event) {
                if (event.data.id !== -1) {
                    this.$eventCaller.clickedProject(event);
                }
            },
            clickedSprint(event) {
                this.$eventCaller.clickedSprint(event);
            },
            createGanttOptions() {
                const options = this.options || {};

                this.ganttOptions = mergeDeep({}, this.defaultOptions, this.ganttOptions, options, {title: {label: this.label}});
                this.updateSettings();
            },
            updateSettings() {

            },
            optionsChanged(options) {
                this.ganttOptions = options;
                this.updateSettings();
            },
            scroll() {
                if (!this.dateRange.start || !this.dateRange.end || !this.ganttOptions.scroll || this.resizeTimeout !== null) {
                    return;
                }

                const graphCenter = this.ganttOptions.scroll.chart.timeCenter;
                const timeCenter = this.middleOfTimeRange;

                let centerMovement = graphCenter - timeCenter;

                if (isNaN(centerMovement) || Math.abs(centerMovement) < MiscUtils.ONE_DAY_IN_MILLISECONDS || graphCenter === 0) {
                    return;
                }

                const dateRange = {
                    start: this.startDate.add(centerMovement, 'milliseconds').toDate(),
                    end: this.endDate.add(centerMovement, 'milliseconds').toDate(),
                };


                this.$eventCaller.changeDateRangeByScroll(dateRange);

            }
        },
        created() {
            this.createGanttOptions();
        }
    }
</script>

<style scoped>

</style>