<template>
    <div class="highlight" :style="style">
        <slot></slot>
    </div>
</template>

<script>
    export default {
        name: "Highlight",
        props: {
            backgroundColor: {
                required: false,
                default: "rgba(32, 32, 32, 0.5)"
            },
            color: {
                required: false,
                default: "white"
            }
        },
        computed: {
            style() {
                return {
                    backgroundColor: this.backgroundColor,
                    color: this.color
                }
            }
        }
    }
</script>

<style scoped>
    .highlight {
        border-radius: 5px;
        padding: 4px;
        display: inline-block;
        font-size: 0.9em;
    }
</style>