<template>
    <v-app>
        <add-user-data-message></add-user-data-message>
        <v-content>
            <projects></projects>
        </v-content>
    </v-app>
</template>

<script>
    import Projects from "./views/Projects";
    import AddUserDataMessage from "./components/AddUserDataMessage";

    export default {
        name: "App",
        components: {AddUserDataMessage, Projects}
    }
</script>

<style>
    @keyframes highlightFade {
        0% {
            opacity: 0;
        }
        20% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

    .highlightFade{
        position: relative;
    }

    .highlightFade::after {
        box-shadow: 0 0 25px 0 #005a8e;
        opacity: 0;
        content: ' ';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        animation: highlightFade 500ms linear;
    }


    .v-icon {
        user-select: none;
        transition: transform 0.2s;
    }

    .v-icon:hover {
        transform: scale(1.3)
    }
</style>